<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="register()" [formGroup]="credenziali">

    <ion-card class="auth-card">
      <br>
      <br>
      <ion-card-header>
        <ion-card-title><strong>Registrazione</strong></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="name" name="nome" formControlName="nome" required placeholder="Inserisci il tuo nome">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Cognome</ion-label>
            <ion-input type="family-name" name="cognome" formControlName="cognome" required
              placeholder="Inserisci il tuo cognome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="name" name="username" formControlName="username" required placeholder="Scegli un username">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" formControlName="password" required
              placeholder="Scegli una password"></ion-input>
          </ion-item>

          <br>
          <ion-button type="submit" color="primary" shape="round" expand="block">Registrati</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>