<ion-header class="ion-no-border">
  <ion-toolbar color="unicamblue">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="wrapper">
      <img class="logo-toolbar" src="../../../assets/logo-small.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="unicamblue">
  <form (ngSubmit)="register()" [formGroup]="credentials">
    <div class="container">
      <ion-card>
        <ion-card-header style="text-align: center; padding-top: 30px;">
          <ion-card-subtitle class="subtitle">Nuovo utente?</ion-card-subtitle>
          <ion-card-title class="title">Registrati</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="input-row">
            <div class="input-div">
              <ion-input type="name" name="nome" formControlName="nome" required placeholder="Inserisci il tuo nome">
              </ion-input>
            </div>
          </div>
          <div class="input-row">
            <div class="input-div">
              <ion-input type="family-name" name="cognome" formControlName="cognome" required
                placeholder="Inserisci il tuo cognome"></ion-input>
            </div>
          </div>
          <div class="input-row">
            <div class="icon-div">
              <ion-icon name="person"></ion-icon>
            </div>
            <div class="input-div">
              <ion-input type="name" name="username" formControlName="username" required
                placeholder="Scegli un username"></ion-input>
            </div>
          </div>
          <div class="input-row">
            <div class="icon-div">
              <ion-icon name="key"></ion-icon>
            </div>
            <div class="input-div">
              <ion-input type="password" name="password" formControlName="password" required
                placeholder="Scegli una password"></ion-input>
            </div>
          </div>

          <ion-button class="register-button" type="submit" color="unicamred" expand="block">Registrati</ion-button>

          <div style="margin-top: 20px !important; text-align: center; margin-bottom: 15px;">
            Hai già un account? <a routerLink="/login" style="text-decoration: none;">Accedi!</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </form>
</ion-content>