  .row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .users-card{
    background-color: var(--ion-color-unicamgrey);
  }

  .users-card:hover {
    transition: 0.4s ease;
    background-color: #2e3f4b;
  }

  .games-card{
    background-color: var(--ion-color-unicamred);
  }

  .games-card:hover {
    transition: 0.4s ease;
    background-color: #791414;
  }

  ion-card {
    position: relative;
    min-height:200px;
    max-width: 400px;
    padding: 20px;
    flex: 100%;

    h1{
        font-weight: bold;
        color:white;
        text-align: center;
        font-size: 30px;
    }
    ion-icon{
        font-size: 85px;
    }
  }