ion-content{
    --background:#fff;
}

ion-card-header{
    ion-card-subtitle{
        text-align: center;
    }
    ion-card-title{
        font-size: 25px;
        text-align: center;
        text-transform: none !important;
        font-family: "Poppins" sans-serif !important;
        font-weight: bold !important;
        color:var(--ion-color-unicamblue) !important;
    }
}