<ion-header>
  <ion-toolbar>
    <ion-title>Crea una Lobby</ion-title>

    <ion-button fill="clear" slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="modal">

    <ion-item>
      <h2><strong>Informazioni del Gioco:</strong></h2>
    </ion-item>

    <ion-item>
      <ion-label>Nome Gioco: {{giocoSelezionato.nome}}</ion-label>
    </ion-item>

    <ion-item>
      <span>Numero minimo di Giocatori: </span>
      <span style="text-align: right; padding-right: 25px;" slot="end">{{giocoSelezionato.min_giocatori}}</span>
    </ion-item>

    <ion-item>
      <span>Numero massimo di Giocatori:</span>
      <span style="text-align: right; padding-right: 25px;" slot="end">{{giocoSelezionato.max_giocatori}}</span>
    </ion-item>

    <ion-item>
      <ion-label>
        Pubblica
        <p>Imposta la Lobby come Pubblica</p>
      </ion-label>
      <ion-toggle [(ngModel)]="tipo"></ion-toggle>
    </ion-item>

    <br>

    <ion-button type="submit" color="primary" expand="block" (click)="creaLobby()">Crea Lobby</ion-button>
  </ion-list>

</ion-content>