<ion-header>
  <ion-toolbar>
    <ion-title>Crea una Lobby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full" class="modal">

    <ion-item>
      <h2><strong>Informazioni del Gioco:</strong></h2>
    </ion-item>

    <ion-item>
      <ion-label>Nome Gioco:</ion-label>
      <ion-label>{{giocoSelezionato.nome}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Numero minimo di Giocatori:</ion-label>
      <ion-label>{{giocoSelezionato.min_giocatori}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Numero massimo di Giocatori:</ion-label>
      <ion-label>{{giocoSelezionato.max_giocatori}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Privata
        <p>Imposta la Lobby come Privata</p>
      </ion-label>
      <ion-toggle [(ngModel)]="tipo"></ion-toggle>
    </ion-item>

    <br>
    <ion-button color="primary" expand="block" (click)="stampaGioco()">Stampa Gioco</ion-button>

    <ion-button type="submit" color="primary" expand="block">Crea Lobby</ion-button>
  </ion-list>

</ion-content>