.cookie-alert {
    background-color: var(--ion-color-unicamgrey);
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    padding:10px;
}

.container{
    max-width: 880px;
    margin:auto;
}

.text{
    display: block;
    p{
        font-size: 14px;
        margin: 0px;
    }
}

.buttons{
    display: block;
    padding-bottom: 16px;
    color: var(--ion-color-light) !important;
}