<div class="cookie-alert" *ngIf="!cookieAccepted">
  <div class="container">
    <div class="text">
      <p>
        Questo sito utilizza solo cookie tecnici per il corretto funzionamento delle pagine web.
        Continuando a navigare, acconsenti all'uso dei cookie.
      </p>
      <p>Per saperne di più, consulta l'informativa estesa.</p>
    </div>
    <div class="buttons">
      <ion-buttons style="float:right;">
        <ion-button (click)="closeCookieAlert()" style="font-size: 13px;">Accetta</ion-button>
        <ion-button routerLink="" style="font-size: 13px;">Informazioni</ion-button>
      </ion-buttons>
    </div>
  </div>
</div>