p{
    color:rgb(16, 64, 85);
}

.info-card{
    background: #96c6da;
    border-radius: 20px;

    ion-list{
        background: rgba(0, 0, 0, 0);

        ion-title{
            color: #fff;
            font-size: 18px;
        }
        ion-item{
            color: #fff;
            --background: rgba(0, 0, 0, 0);
        }
    }
}

.players-card{
    background: #44a2b9;
    color: #fff;
    border-radius: 20px;

    ion-list{
        background: rgba(0, 0, 0, 0);

        ion-title{
            color: #fff;
            font-size: 18px;
        }
        ion-item{
            color: #fff;
            --background: rgba(0, 0, 0, 0);
        }
    }
}

.admin{
    background: rgb(109, 194, 206) !important;
}

.admin-label{
    color:#fff !important;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game-card{
    background: #4fc5c5;
    color: #fff;
    border-radius: 20px;

    ion-list{
        background: rgba(0, 0, 0, 0);

        ion-title{
            color: #fff;
            font-size: 18px;
        }
        ion-item{
            color: #fff;
            --background: rgba(0, 0, 0, 0);
        }
    }
}

@media only screen and (min-width: 993px){
    #expandable-info-card{
        display: none;
    }
    #slide-players-card{
        display: none;
    }
    #expandable-game-card{
        display: none;
    }
}

@media only screen and (max-width: 992px){
    #normal-info-card{
        display: none;
    }
    #normal-players-card{
        display: none;
    }
    #normal-game-card{
        display: none;
    }
}