<ion-split-pane contentId="content">
  <ion-menu contentId="content">
    <ion-header class="ion-no-border">
      <ion-toolbar #toolbar color="unicamblue">
        <div class="wrapper">
          <img class="logo-toolbar" src="../../../../assets/logo-small.png" alt="">
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div *ngFor="let p of pages">
        <ion-menu-toggle auto-hide="false" *ngIf="p.url">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="menu-active-item">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>

      <ion-item [routerLink]='' (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>Logout
      </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>