ion-content{
  --background: #fff !important;
}

.wrapper{
    margin:auto;
    max-width: 1300px;
    overflow:hidden;
  }
  
.logo-toolbar{
    transition: opacity 1s ease-out;
    overflow: hidden;
    vertical-align:middle;
    float:left;
    line-height: 56px;
    margin-left: 10px;
}

ion-toolbar{
  color:#fff;
}

ion-item{
  --background: transparent !important;
}
  