.header-row {
    font-weight: bold;
    border-bottom: 3px solid #000 !important;
}

.data-row {
    border-bottom: 1px solid #000 !important;
    align-items: center;
}

.checkbox-column{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container{
    padding: 10px;
}