.wrapper{
  margin:auto;
  max-width: 1300px;
  overflow:hidden;
  padding: 0 10px;
}

ion-toolbar{
  #logo-toolbar{
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    transform:scale(0.9);
  }
}

.wave-header{
  position:absolute;
  width: 100%;
  min-height: 387px;
  min-width: 1106px;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 0px 24px;
}

.section-header{
  position: relative;
  margin: 0px 0px 24px;
}

.section-header h2{
  font-size:32px;
  padding-top:30px;
  font-family: 'DM Sans', sans-serif;
  color: var(--ion-color-unicamgrey);
  font-weight: bold;
}

.section-header p{
  color:var(--ion-color-light);
  font-size:22px;
  margin: 5px 0px 0px;
}

.ioncardgame{
  width: 100% !important;
  border-radius: 30px !important;
  --background: url(../../../../assets/images/generic-game-400x300.jpg) no-repeat;
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transition: 0.2s ease-out;
}

.ioncardgame img{
  width: 100% !important;
  left: 0px !important;
  aspect-ratio: 2/1 !important;
  transition: transform .2s;
}

.ioncardgame .game-title{
  position:absolute !important;
  bottom: 5px !important;
  padding:30px !important;

  ion-card-title{
    text-transform: none !important;
    text-align: left !important;
    font-size: 26px;
    font-family: "Poppins" sans-serif !important;
    font-weight: bold !important;
    color:var(--ion-color-unicamblue) !important;
  }
}

.ioncardgame:hover{
    transform: translateY(-6px);
}

.white-wave-header{
  position:absolute;
  width: 100% !important;
  bottom: 0px;
  min-height: 147px;
  max-height: 168px;
}

.players-item{
  max-width: 105px;
  margin:auto;
  border-radius: 0px 0px 20px 20px;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: var(--ion-color-unicamred);

  ion-label{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 12px !important;
    color:#fff !important;
  }

  ion-icon{
    font-size: 18px;
    margin-right: 10px;
  }
}

.buttons-container{
  text-align: center;
}

.buttons{
  display: inline-block;
}

@media screen and (max-width:1090px) {
  .game-title{
    ion-card-title{
      font-size: 22px !important;
    }
  }
}

@media screen and (max-width:1024px) {
  .game-title{
    ion-card-title{
      font-size: 26px !important;
    }
  }
}

@media screen and (max-width:1030px) {
  .white-wave-header{
    min-height: 156px;
  }
}

@media screen and (max-width:810px) {
  .white-wave-header{
    min-height: 147px;
  }
  .game-title{
    ion-card-title{
      font-size: 24px !important;
    }
  }
}

@media screen and (max-width:710px) {
  .white-wave-header{
    min-height: 156px;
  }
}

@media screen and (max-width:570px) {
  .game-title{
    ion-card-title{
      font-size: 20px !important;
    }
  }
  .section-header h2{
    font-size:28px;
  }
}

@media screen and (max-width:549px) {
  .game-title{
    ion-card-title{
      font-size: 24px !important;
    }
  }
}

@media screen and (max-width:350px) {
  .game-title{
    ion-card-title{
      font-size: 24px !important;
    }
  }
  .section-header h2{
    font-size:26px;
  }
}

@media screen and (max-width:300px) {
  .game-title{
    ion-card-title{
      font-size: 20px !important;
    }
  }
  .section-header h2{
    font-size:22px;
  }
}



























// .game{
//   border-radius: 25px;
//   box-shadow: 0 8px 16px 0 rgba(78, 78, 78, 0.2), 0 6px 20px 0 rgba(78, 78, 78, 0.2);
//   transition: all 0.3s;
// }

// .game:hover {
//   box-shadow: 0 13px 16px 0 rgba(0,0,0,0.24), 0 18px 50px 0 rgba(0,0,0,0.19);
//   transform: translateY(-6px);
//   .overlay2 {
//     opacity: 0.6;
//   }
//   .game-img{
//     opacity: 0.8;
//   }
//   .overlay-text {
//     opacity: 1;
//   }
// }

// .game-img{
//   transition: 0.5s ease;
// }

// .game-header{
//   ion-card-title{
//     font-family: Century Gothic, Courier New, appearance;
//     font-size: 24px;
//     text-align: center;
//     padding: 12px 0px 0px 0px;
//   }
//   ion-card-subtitle{
//     font-family: Malgun Gothic, Courier New, appearance;
//     font-size: 18px;
//     text-align: center;
//     padding-bottom: 10px;
//   }
// }

// .overlay-text {
//   transition: 0.5s ease;
//   opacity: 0;
//   color: #fff;
//   font-size: 35px;
//   font-weight: bold;
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   text-align: center;
// }

// .game-small{
//   max-height: 250px;
//   border-radius: 25px;
//   box-shadow: 0 8px 16px 0 rgba(78, 78, 78, 0.2), 0 6px 20px 0 rgba(78, 78, 78, 0.2);
//   transition: all 0.3s;
//   --background: var(ion-color-unicamblue);
// }

// .game-header-small{
//   --background:var(--ion-color-unicamblue);

//   ion-card-title{
//     font-family: Century Gothic, Courier New, appearance;
//     font-size: 24px;
//     text-align: center;
//     padding: 12px 0px 0px 0px;
//     color: #fff !important;
//   }
//   ion-card-subtitle{
//     color: #fff !important;
//     font-family: Malgun Gothic, Courier New, appearance;
//     font-size: 18px;
//     text-align: center;
//     padding-bottom: 10px;
//   }
// }

// @media only screen and (max-width: 767px){
//   .game{display: none;}
//   #catalogo-title{
//     font-size:20px;
//     padding-top: 0px;
//     padding-bottom: 0px;
//   }
// }

// @media only screen and (min-width: 768px){
//   .game-small{display: none;}
// }

// @media only screen and (max-width: 540px){
//   .game-header-small{
//     ion-card-title{
//       font-size: 20px;
//     }
//     ion-card-subtitle{
//       font-size: 15px;
//     }
//   }
// }