<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openUserPopover($event)">
        <ion-icon name="person-outline" style="font-size:25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="transparent-card" *ngIf="ospite">
    <ion-item>
      <h4 style="font-size: 14px; color: #949494;">Ricorda che gli utenti non registrati vengono eliminati ogni 24 ore.
      </h4>
      <ion-icon name="information-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-searchbar placeholder="Cerca giochi"></ion-searchbar>

  <ion-item lines="full" *ngIf="this.games.length == 0">
    <ion-label style="text-align: center; color:grey">Non è stato trovato alcun gioco!</ion-label>
  </ion-item>

  <div class="row">
    <a *ngFor="let game of games" class="column" tappable (click)="openIntroLobby(game)">
      <div class="container">
        <img src="../../../../assets/images/generic-game.jpg" class="image" />
        <div class="overlay">
          <div class="text">GIOCA ORA!</div>
        </div>
        <div class="info">
          <ion-label>
            <h1><strong>{{game.nome}}</strong></h1>
            <h2>
              <ion-icon name="people-outline"></ion-icon>
              Giocatori {{game.min_giocatori}} - {{game.max_giocatori}}
            </h2>
          </ion-label>
        </div>
      </div>
    </a>
  </div>

  <!-- <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more games...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>