<ion-header>
  <ion-toolbar class="page-header">

    <ion-title style="font-family: Ink Free, Courier New, appearance; font-size:25px; text-align: center;">
      PLAY WITH UNICAM
      <img src="../../../../assets/unicam-logo.png" class="ion-hide-md-down"
        style="max-height: 65px; max-width: 65px; position:absolute; margin-left:15px; margin-top:8px;">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openUserPopover($event)">
        <ion-icon name="person-outline" style="font-size:25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="transparent-card" *ngIf="ospite">
    <ion-item>
      <h4 style="font-size: 14px; color: #949494;">Ricorda che gli utenti non registrati vengono eliminati ogni 24 ore.
      </h4>
      <ion-icon name="information-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card-header>
    <ion-card-title id="catalogo-title">Catalogo dei giochi</ion-card-title>
  </ion-card-header>

  <ion-item lines="none" *ngIf="this.games.length == 0">
    <ion-label style="text-align: center; color:grey">Non è stato trovato alcun gioco! :(</ion-label>
  </ion-item>

  <ion-grid fixed>
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let game of games">

        <ion-card button="true" class="game" (click)="openIntroLobby(game)">
          <img class="game-img" src="../../../../assets/images/generic-game-400x300.jpg" />
          <div class="overlay-text">GIOCA ORA!</div>

          <ion-card-header class="game-header">
            <ion-card-title> {{game.nome}}</ion-card-title>
            <ion-card-subtitle>Giocatori {{game.min_giocatori}} - {{game.max_giocatori}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>


        <ion-card button="true" class="game-small" (click)="openIntroLobby(game)">
          <ion-card-header class="game-header-small">
            <ion-card-title>{{game.nome}}</ion-card-title>
            <ion-card-subtitle>Giocatori {{game.min_giocatori}} - {{game.max_giocatori}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>