<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="wrapper">
      <img id="logo-toolbar" src="../../../../assets/logo-small-grey.png" alt=""
        style="vertical-align:middle; float:left; line-height: 56px">

      <ion-buttons style="vertical-align:middle; float:right; line-height: 56px">
        <ion-button (click)="openUserPopover($event)">
          <ion-icon slot="icon-only" name="person-outline" color="unicamblue"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../assets/images/wave-header.png" alt="" class="wave-header">

  <div class="container">
    <ion-card class="transparent-card" style="max-width: 500px; margin:auto;" *ngIf="ospite">
      <ion-item>
        <h4 style="font-size: 14px; color: #949494;">Ricorda che gli utenti non registrati vengono eliminati ogni 24
          ore.
        </h4>
        <ion-icon name="information-circle-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-card>

    <div class="section-header">
      <h2 style="color: #fff;">Catalogo dei giochi</h2>
      <p *ngIf="this.games.length == 0">Non è stato trovato alcun gioco! :(</p>
    </div>

    <swiper [config]="config" #gamesSwiper>
      <ng-template swiperSlide *ngFor="let game of games">
        <ion-card class="ioncardgame" (click)="openIntroLobby(game)" tappable button="true">
          <img src="../../../../assets/images/white_wave_header.png" alt="" class="white-wave-header">

          <ion-item lines="none" class="players-item"
            title="Da {{game.min_giocatori}} a {{game.max_giocatori}} giocatori">
            <ion-label>
              <ion-icon slot="start" name="people"></ion-icon>
              {{game.min_giocatori}} - {{game.max_giocatori}}
            </ion-label>
          </ion-item>
          <div class="game-title">
            <ion-card-title>{{game.nome}}</ion-card-title>
          </div>
        </ion-card>
      </ng-template>
    </swiper>

    <div class="buttons-container" *ngIf="games.length > 0">
      <div class="buttons">
        <ion-button (click)="prevSlide()" fill="clear" color="unicamblue">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="nextSlide()" fill="clear" color="unicamblue">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>