.section-header{
    position: relative;
    margin: 0px 0px 24px;
  }

.title{
    padding: 0px 20px;
    h2{
        margin-top: 10px;
        font-size: 26px;
        color: var(--ion-color-unicamblue);
        font-family: "Poppins" sans-serif !important;
        font-weight: bold !important;
    }
}

.no-lobby-text p{
    color: var(--ion-color-unicamblue);
    font-size:18px;
    padding: 5px 20px;
  }

.header-row {
    height: 50px;
    align-content: center;
    color: var(--ion-color-unicamblue);
    font-weight: bold;

    ion-col {
        font-size: 20px;
        font-family: "Poppins" sans-serif !important;
        font-weight: bold !important;
    }
}

.data-row {
    border-bottom: 1px solid #dfdcdc !important;
    align-items: center;
    text-align: left;
    font-size: 16px;
}

.lobby-card{
    border-radius: 20px;
    border: 1px solid var(--ion-color-unicamblue) !important;

    ion-card-header{
        background-color: var(--ion-color-unicamblue);
        color:white;
        text-align: center;
        p{
            color:white;
        }
        h2{
            font-size: 18px;
        }
    }

    .content{
        ion-label{
            text-align: center;
        }
    }
}

@media screen and(max-width:855px){
    .header-row ion-col {
        font-size: 18px;
    }
}

@media screen and(max-width:780px){
    .header-row ion-col {
        font-size: 16px;
    }
}

@media screen and(max-width:370px){
    .title h2{
        font-size: 22px !important;
    }
    .no-lobby-text p{
        font-size: 14px;
    }
}

@media screen and(max-width:330px){
    .title h2{
        font-size: 20px !important;
    }
    .no-lobby-text p{
        font-size: 13px;
    }
}