<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cerca Lobby Pubbliche</ion-title>

    <ion-button fill="clear" slot="start" (click)="closeModal()">
      <ion-icon style="color:white" slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

<ion-toolbar>
  <ion-title><strong>Lista delle lobby attive</strong></ion-title>

  <ion-button slot="end" (click)="refresh()" expand="block" fill="clear" shape="round">
    Aggiorna
    <ion-icon slot="end" name="refresh-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

</ion-header>

<ion-content>
  <div class="modal">

    <div class="table; ion-hide-xl-down">

      <ion-row class="header-row">

        <ion-col size="3">
          GIOCO
        </ion-col>

        <ion-col size="2">
          ADMIN
        </ion-col>

        <ion-col size="2">
          Data creazione
        </ion-col>

        <ion-col size="2">
          PARTECIPANTI
        </ion-col>

        <ion-col size="2"></ion-col>

      </ion-row>

      <ion-row *ngFor="let lobby of lobbies;" class="data-row">

        <ion-col size="3">
          <ion-label>
            <strong>{{lobby.nome}}</strong>
            <p>Giocatori: {{lobby.min_giocatori}} - {{lobby.max_giocatori}}</p>
          </ion-label>

        </ion-col>

        <ion-col size="2">
          {{lobby.admin_lobby}}
        </ion-col>

        <ion-col size="2">
          {{lobby.data_creazione}}
        </ion-col>

        <ion-col size="2">
          2 / {{lobby.max_giocatori}}
        </ion-col>

        <ion-col size="2">
          <ion-button (click)="partecipa(lobby)" expand="block" shape="round">
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            Partecipa
          </ion-button>
        </ion-col>

      </ion-row>
    </div>

    <ion-list lines="full" class="ion-hide-xl-up">

      <ion-item *ngFor="let lobby of lobbies;" button="true" (click)="partecipa(lobby)">
        
        <ion-item lines="none">
          <ion-label position="floating">Gioco</ion-label>
          <h2 style="font-size:18px;">{{lobby.nome}}</h2>
        </ion-item>
          

          <ion-label>
          <p>Admin: {{lobby.admin_lobby}}</p>
          <p>Min Giocatori: {{lobby.min_giocatori}}</p>
          <p>Max Giocatori: <strong>{{lobby.max_giocatori}}</strong></p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>