.header-row {
    height: 50px;
    align-content: center;
    background-color: rgb(49, 114, 167);
    color:white;
}

.data-row {
    border-bottom: 1px solid #000 !important;
    align-items: center;
}

.info-row{
    height: 50%;
}

.table{
    padding: 10px;
}

.lobby-card{
    border: 1px solid rgb(49, 114, 167) !important;

    ion-card-header{
        background-color: rgb(49, 114, 167);
        color:white;
        text-align: center;
        p{
            color:white;
        }
        h2{
            font-size: 18px;
        }
    }

    .content{
        ion-label{
            text-align: center;
        }
    }
}