#lista-title{
    font-family: Century Gothic, Courier New, appearance;
    font-size:35px;
    text-align: center;
    padding:30px;
    transition: 0.8s ease;
}

.header-row {
    height: 50px;
    align-content: center;
    color:var(ion-color-unicamgrey);
    font-weight: bold;
}

.data-row {
    border-bottom: 1px solid #000 !important;
    align-items: center;
}

#no-lobby-message{
    text-align: center;
}

.table{
    margin-top: 50px;
    padding: 10px;
}

.lobby-card{
    border-radius: 20px;
    border: 1px solid var(--ion-color-unicamblue) !important;

    ion-card-header{
        background-color: var(--ion-color-unicamblue);
        color:white;
        text-align: center;
        p{
            color:white;
        }
        h2{
            font-size: 18px;
        }
    }

    .content{
        ion-label{
            text-align: center;
        }
    }
}

@media screen and(max-width:560px){
    #lista-title{
        font-size: 28px;
    }
}

@media screen and(max-width:430px){
    #lista-title{
        font-size: 22px;
    }
}

@media screen and(max-width:360px){
    #lista-title{
        font-size: 20px;
    }
    #no-lobby-message{
        font-size: 16px;
    }
}