<ion-header class="ion-no-border">
  <ion-toolbar color="unicamblue">
    <ion-buttons slot="start">
      <ion-back-button color="unicamblue"></ion-back-button>
    </ion-buttons>
    <div class="wrapper">
      <img class="logo-toolbar" src="../../../assets/logo-small.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header style="text-align: center; padding-top: 30px;">
        <h2 class="title">Ciao!</h2>
        <p class="subtitle">Prima di entrare nella lobby, scegli un nickname:</p>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="loginOspiti()" [formGroup]="guestCredentials">
          <div class="input-row">
            <div class="input-div">
              <ion-input type="string" name="username" formControlName="username" required
                placeholder="Scegli un nickname"></ion-input>
            </div>
          </div>
          <ion-button class="login-button" type="submit" color="unicamred" expand="block">GIOCA ORA!</ion-button>
        </form>

        <div style="margin-top: 20px; text-align: center; margin-bottom: 15px;">
          Altrimenti, se sei già registrato, accedi con le tue credenziali:
        </div>

        <form (ngSubmit)="login()" [formGroup]="credentials">
          <div class="input-row">
            <div class="icon-div">
              <ion-icon name="person"></ion-icon>
            </div>
            <div class="input-div">
              <ion-input type="string" name="username" formControlName="username" required
                placeholder="Inserisci username"></ion-input>
            </div>
          </div>
          <div class="input-row">
            <div class="icon-div">
              <ion-icon name="key"></ion-icon>
            </div>
            <div class="input-div">
              <ion-input type="password" name="password" formControlName="password" required
                placeholder="Inserisci password"></ion-input>
            </div>
          </div>
          <ion-button class="login-button" type="submit" color="unicamgrey" expand="block">ACCEDI</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>