<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="unicamblue"></ion-menu-button>
    </ion-buttons>
    <ion-title>Giochi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="segment-div">

    <form (ngSubmit)="creaGioco()" [formGroup]="data">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h2><strong>Info</strong></h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" style="font-size: 20px;" placeholder="Inserisci il nome del gioco" name="nome"
                formControlName="name" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
            <ion-item>
              <ion-label position="floating">Gioco</ion-label>
              <ion-select okText="Ok" cancelText="Annulla" formControlName="game" required>
                <ion-select-option *ngFor="let game of games" value={{game.getName()}}>{{game.getName()}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h2><strong>Impostazioni</strong></h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label text-wrap>
                Aggiungi regolamento
                <p>Consente di aggiungere il regolamento del gioco, che sarà poi mostrato ai giocatori nella
                  lobby durante l'attesa pre-partita.</p>
              </ion-label>
              <ion-toggle slot="end" [(ngModel)]="mostraRegolamento" [ngModelOptions]="{standalone: true}"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="mostraRegolamento">
          <ion-col size="12">
            <ion-textarea style="height: 100%; border: 1px solid var(--ion-color-primary);"
              placeholder="Scrivi qui il regolamento del gioco" auto-grow="true" name="regolamento"
              [(ngModel)]="regolamento" [ngModelOptions]="{standalone: true}"></ion-textarea>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" style="text-align: right;">
            <ion-button type="submit" color="unicamred" shape="round" style="float: right;">Crea gioco
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </div>

</ion-content>