<ion-header class="ion-no-border">
  <ion-toolbar #toolbar>
    <div class="wrapper">
      <img class="logo-toolbar" src="../../../assets/logo-small.png" alt="">

      <ion-buttons style="vertical-align:middle; justify-items: center; float:right; line-height: 56px" class="ion-hide-sm-up">
        <ion-button routerLink="/login" color="light" shape="round">
          <ion-icon slot="icon-only" name="log-in-outline" color="light"></ion-icon>
        </ion-button>
        <ion-button routerLink="/registration" shape="round">
          <ion-icon slot="icon-only" name="person-add-outline" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-buttons style="vertical-align:middle; justify-items: center; float:right; line-height: 48px" class="ion-hide-sm-down">
        <ion-button routerLink="/login" fill="outline" shape="round" color="light" style="font-size: 12px; width:100px;">
          Accedi
        </ion-button>
        <ion-button routerLink="/registration" shape="round"
          style="--background: var(--ion-color-unicamred); --color: var(--ion-color-light); font-size: 12px; width:100px;">
          Registrati
        </ion-button>
      </ion-buttons>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appFadeHeader]="toolbar">

  <div class="image-header">
    <div class="black-layer"></div>
    <div class="container">
      <div class="header-logo">
        <img src="../../../assets/logo.png" alt="" style="position: relative;">
      </div>

      <div class="slogan-and-logo">
        <div class="slogan">
          <h1>Una piattaforma per</h1>
          <h1>serious game</h1>
        </div>

        <div class="auth-box">
          <div class="auth-buttons">
            <div id="login-btn">
              <ion-button routerLink="/login" shape="round" fill="outline" expand="full"
                style="--background: rgba(0, 0, 0, 0.4); --color: var(--ion-color-light); --border-color: var(--ion-color-light); height:48px">
                Accedi
              </ion-button>
            </div>

            <div id="signin-btn">
              <ion-button routerLink="/registration" shape="round" expand="full"
                style="--background: var(--ion-color-unicamred); --color: var(--ion-color-light); height:48px">
                Registrati
              </ion-button>
            </div>
          </div>

          <div class="separator">
            <div class="separator-line"></div>
            <div class="separator-text">Oppure</div>
            <div class="separator-line"></div>
          </div>

          <form (ngSubmit)="guestLogin()" [formGroup]="credentials" style="margin-top: 10px;">
            <ion-item lines="none" style="border-radius: 30px;">
              <ion-input type="nickname" name="username" formControlName="username" placeholder="Scegli un nickname"
                required text-wrap>
              </ion-input>
              <ion-button slot="end" fill="clear" color="unicamred" expand="block" shape="round" type="submit">
                <ion-label text-wrap>GIOCA!</ion-label>
              </ion-button>
            </ion-item>
          </form>
        </div>
      </div>

      <div class="logo-unicam">
        <img src="../../../assets/images/unicam.png" alt="">
      </div>
    </div>
  </div>

  <div class="description">
    <div>
      <h2>Uno strumento didattico alternativo</h2>
      <p>L'idea alla base
        del progetto è
        quella di creare uno
        strumento didattico alternativo capace di coniugare
        l'aspetto videoludico e l'apprendimento, basandosi sull'utilizzo dei cosiddetti "serious games", ovvero
        giochi che non hanno come scopo principale l'intrattenimento, ma che sono progettati soprattutto a fini
        educativi.</p>
    </div>

    <img src="../../../assets/images/playing_with_friends.png" alt="" class="home-img">

    <div>
      <h2>Connettiti con chiunque</h2>
      <p>Con PlayWithUnicam è possibile creare “stanze di gioco” (nel gergo videoludico lobby) per giocare assieme
        ai tuoi amici o partecipare a stanze già esistenti per disputare una partita assieme ad altri utenti della
        piattaforma.
        Scelto il gioco, non resta che divertirsi ed imparare!</p>
    </div>

    <img src="../../../assets/images/lobby.jpg" alt="" class="home-img">
  </div>
  
  <app-cookie-alert></app-cookie-alert>
  <app-home-footer></app-home-footer>
</ion-content>