.wrapper{
  margin:auto;
  max-width: 1300px;
  max-height: 48px;
  overflow:hidden;
}

ion-toolbar{
  --background: transparent;
  --border-color: transparent;
  --border-style: none;

  ion-buttons{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .logo-toolbar{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    vertical-align:middle;
    float:left;
    line-height: 56px;
    margin-left: 10px;
  }
}

.toolbar-show-buttons{
  ion-buttons{
    opacity: 1;
    height: auto;
  }
  .logo-toolbar{
    opacity: 1;
    height: auto;
  }
}

ion-content{
  --offset-top: 0px;
  position: absolute;
}

.image-header{
  background-image:url('../../../assets/images/friends.jpg');
  background-size:cover;
  padding: 50px;
  height: 520px;
  position:relative;
}

.black-layer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 100%);
}

.container{
  max-width: 1300px;
  margin:auto;
}

.slogan-and-logo{
  overflow: hidden;
  margin-top:80px;
}

.slogan{
  position:relative;
  float: left;
  color: var(--ion-color-light);
  h1{
    font-family: 'DM Sans', sans-serif;
    font-size:45px;
    // font-size:3vw;
    font-weight: bold;
    margin-top:10px;
  }
}

.logo-unicam{
  padding-top: 20px;
  max-width: 500px;
  height: auto;
  position:relative;
  clear: both;
}

.auth-box{
  position:relative;
  float:right;
  max-width: 400px;
}

.auth-buttons{
  display: flex;
}

#login-btn, #signin-btn{
  width: 50%;
}

.separator{
  display: flex;
  align-items: center;
  margin:5px;

  .separator-line{
    flex: 1;
    height: 1px;
    background-color: var(--ion-color-light);
  }

  .separator-text{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
    color:var(--ion-color-light);
  }
}

.description{
  padding:60px 20px; max-width: 800px; margin:auto; text-align: center;
  h2{
    font-family: Poppins, sans-serif; font-size: 35px; font-weight: bold; color:var(--ion-color-unicamgrey);
  }
  p{
    font-family: DM Sans, sans-serif; font-size: 18px; color:var(--ion-color-unicamgrey);
  }
}

@media screen and (max-width: 1060px) {
    .header-logo{
      max-width:200px;
    }
    .slogan{
      h1{ font-size:40px;}
    }
    .description{
      h2{ font-size: 30px;}
      p{ font-size: 16px;}
    }
    .auth-box{
      -webkit-transform:scale(0.9);
      -moz-transform:scale(0.9);
      -ms-transform:scale(0.9);
      transform:scale(0.9);
    }
}

@media screen and (max-width: 485px) {
  .image-header{
    padding:50px 20px 0px 20px;
  }
}

@media screen and (max-width: 935px) {
  .slogan{
    h1{
      font-size:35px;
    }
  }
}

@media screen and (max-width: 860px) {
  .slogan-and-logo{
    margin-top: 20px;
  }
  .slogan{
    width:100%;
  }
  .auth-box{
    padding-top: 20px;
    float: none;
    clear: both;
    margin: auto;
  }
  .logo-unicam{
    max-width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .slogan{
    h1{font-size:30px;}
  }
  .description{
    h2{ font-size: 25px;}
    p{ font-size: 15px;}
  }
}

@media screen and (max-width: 610px) {
  .black-layer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.835171568627451) 50%, rgba(0,0,0,0.6250875350140056) 100%);}
}