ion-input{
    --background: rgb(197, 219, 248);
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
}

.header{
    align-items: center;
}

.title{
    text-align: center;
    font-weight: bold;
}