<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Unisciti a una lobby privata</ion-title>

    <ion-button fill="clear" slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close-outline" style="color:white"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" class="modal">
    <form (ngSubmit)="partecipa()" [formGroup]="codiceForm">

      <h2 class="title">Codice lobby</h2>

      <ion-item>
        <ion-input type="number" inputmode="numeric" formControlName="codice" required
          placeholder="Inserisci il codice">
        </ion-input>
      </ion-item>

      <br><br>

      <ion-button type="submit" expand="block" shape="round">Partecipa</ion-button>
    </form>
  </ion-list>
</ion-content>