<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button fill="clear" color="unicamblue" slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-list lines="none" class="modal">
    <form (ngSubmit)="partecipa()" [formGroup]="codiceForm">

      <h2 class="title">Codice lobby</h2>

      <ion-item>
        <ion-input type="number" inputmode="numeric" formControlName="codice" required
          placeholder="Inserisci il codice">
        </ion-input>
      </ion-item>

      <br><br>

      <ion-button type="submit" expand="block" color="unicamred" shape="round">Partecipa</ion-button>
    </form>
  </ion-list>
</ion-content>