<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar> -->

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="impostazioni">
      <ion-segment-button value="impostazioni">
        <ion-label>Impostazioni</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gioca">
        <ion-label>Gioca ora</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="segment === 'impostazioni'">

    <div class="lobby">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle style="text-align: center;">Codice Lobby</ion-card-subtitle>
          <ion-card-title style="font-size: 25px; font-weight:bold; text-align: center;">123456</ion-card-title>
        </ion-card-header>

        <ion-list lines="none">
          <ion-item>
            <ion-label>Categoria lobby:</ion-label>
            <ion-select value="Pubblica">
              <ion-select-option value="Pubblica">Pubblica</ion-select-option>
              <ion-select-option value="Privata">Privata</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Min numero partecipanti</ion-label>
            <ion-select value="this.gioco.min_giocatori">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
              <ion-select-option value="8">8</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Max numero partecipanti</ion-label>
            <ion-select value="this.gioco.max_giocatori">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
              <ion-select-option value="8">8</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button (click)="salvaModifiche()" expand="block">Salva modifiche</ion-button>
        </ion-list>
      </ion-card>

      <ion-card>
        <ion-list>
          <ion-list-header>GIOCATORI</ion-list-header>

          <ion-item *ngFor="let guest of guests">
            <ion-avatar slot="start">
              <img src="https://image.flaticon.com/icons/png/512/4333/4333609.png" alt="avatar player">
            </ion-avatar>

            <ion-label>{{ guest.username }}</ion-label>
          </ion-item>

        </ion-list>
      </ion-card>
    </div>
  </div>

  <div *ngIf="segment === 'gioca'" class="game-div">
    <ion-row>
      <img
        src="https://images.crazygames.com/games/goose-game/cover-1596195229993.png?auto=format,compress&q=75&cs=strip"
        alt="goose game">
    </ion-row>
    <br>
    <br>
    <br>
    <ion-row>
      <ion-button color="warning">PLAY</ion-button>

    </ion-row>

  </div>
</ion-content>