<ion-header>
  <ion-toolbar color="unicamblue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modifica gioco</ion-title>

    <ion-buttons slot="end">
      <!-- <ion-button (click)="print()">
        <ion-icon slot="start" name="trash"></ion-icon>
        Elimina gioco
      </ion-button> -->
      <ion-button (click)="print()" class="ion-hide-sm-down">
        <ion-icon slot="start" name="save"></ion-icon>
        Salva modifiche
      </ion-button>
      <ion-button (click)="print()" class="ion-hide-sm-up">
        <ion-icon slot="start" name="save"></ion-icon>
        Salva
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar style="--min-height: 20px !important; vertical-align: middle; justify-items: center; line-height: 20px;">
    <ion-segment [(ngModel)]="segment" value="info">
      <ion-segment-button value="info">
        <ion-label>Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="editor">
        <ion-label>Editor</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #D9DBE1">
  <div *ngIf="segment == 'info'">
    <div class="game-header">
      <div class="content">
        <ion-item lines="full">
          <ion-label position="floating" text-wrap>Nome del gioco</ion-label>
          <ion-input type="text" placeholder="Inserisci un nome" [(ngModel)]="gameName" style="font-size: 28px;">
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label text-wrap>
            Attiva
            <p>Se attivato, il gioco sarà visibile a tutti i giocatori online.</p>
          </ion-label>
          <ion-toggle slot="end" [(ngModel)]="active"></ion-toggle>
        </ion-item>
      </div>
    </div>

    <div class="content">
      <div class="regulation">
        <div>
          <h2>Regolamento</h2>
        </div>
        <div>
          <ion-textarea auto-grow="true" placeholder="Inserisci qui il regolamento" [(ngModel)]="regulation">
          </ion-textarea>
        </div>
      </div>

      <div style="padding:15px;">
        <ion-button (click)="print()" color="unicamred" style="float: right;">
          <ion-icon slot="start" name="trash"></ion-icon>
          Elimina gioco
        </ion-button>
      </div>
    </div>

  </div>

  <div *ngIf="segment == 'editor'">

  </div>
</ion-content>