ion-content{
  --background: #fff;
}

ion-item{
  --background: transparent;

  ion-icon{
    color:var(--ion-color-unicamblue) !important;
  }
}

ion-label{
  text-transform: none;
}

.container{
  max-width: 850px;
  margin:auto;
  padding: 20px;
}

.gameList{
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 0px !important;
}

.listContent{
  max-height: 350px !important;
  overflow: auto;
}

.selectedItem{
  --background: var(--ion-color-unicamblue);
  --color:var(--ion-color-light);

  ion-icon{
    color:var(--ion-color-light) !important;
  }

  p{
    color:var(--ion-color-light) !important;
  }
}

@media screen and (max-height:675px) {
  .listContent{
    max-height: 300px !important;
  }
}

@media screen and (max-height:640px) {
  .listContent{
    max-height: 250px !important;
  }
  .info{
    font-size: 14px;
  }
}

@media screen and (max-height:590px) {
  .listContent{
    max-height: 200px !important;
  }
}