<ion-header class="ion-no-border">
  <ion-toolbar color="unicamblue">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <div class="wrapper">
      <img class="logo-toolbar" src="../../../assets/logo-small.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="unicamblue">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="container">
      <ion-card>
        <ion-card-header style="text-align: center; padding-top: 30px;">
          <ion-card-subtitle class="subtitle">Ciao!</ion-card-subtitle>
          <ion-card-title class="title">Effettua il login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="input-row">
            <div class="icon-div">
              <ion-icon name="person"></ion-icon>
            </div>
            <div class="input-div">
              <ion-input type="string" name="username" formControlName="username" required
                placeholder="Inserisci username"></ion-input>
            </div>
          </div>
          <div class="input-row">
            <div class="icon-div">
              <ion-icon name="key"></ion-icon>
            </div>
            <div class="input-div">
              <ion-input type="password" name="password" formControlName="password" required
                placeholder="Inserisci password"></ion-input>
            </div>
          </div>

          <ion-button class="login-button" type="submit" color="unicamred" expand="block">ACCEDI</ion-button>

          <div style="margin-top: 20px !important; text-align: center; margin-bottom: 15px;">
            Non hai un account? <a routerLink="/registration" style="text-decoration: none;">Registrati!</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </form>
</ion-content>