.wrapper{
  margin:auto;
  max-width: 1300px;
  max-height: 48px;
  overflow:hidden;
}

ion-toolbar{
  ion-buttons{
    overflow: hidden;
  }

  .logo-toolbar{
    overflow: hidden;
    vertical-align:middle;
    float:left;
    line-height: 56px;
    margin-left: 10px;
  }
}

.container{
  max-width: 500px;
  margin:auto;
}

.subtitle{
  color:var(--ion-color-unicamgrey);
  font-size: 18px;
}

.title{
  color:var(--ion-color-unicamgrey);
  font-weight: bold;
  font-size: 30px;
}

.input-row{
  display: flex;
  margin-top: 20px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 5px;
}

.icon-div{
  border-right: 1px solid var(--ion-color-medium);
  height:56px;
  width:56px;
  min-height:56px;
  min-width:56px;
  max-height:56px;
  max-width:56px;
  text-align: center;
  
  ion-icon{
    margin:15px;
    font-size: 25px;
  }
}

.input-div{
  width: 100%;

  ion-input{
    font-size: 16px;
    padding: 5px 0px 5px 20px !important;
  }
}

.login-button{
  margin:none;
  height: 56px;
  margin-top: 30px !important;
}