ion-toolbar{
    color:#fff;
    --padding-end: 5px;
}

.wave-header{
    position:absolute;
    width: 100%;
    min-height: 387px;
    min-width: 1106px;
}

.start-button{
    margin: 0 10px;
}

ion-card{
    background: #fff !important;
}

ion-card-title{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    color:var(--ion-color-unicamblue);
}

h2{
    color:var(--ion-color-unicamblue);
}

.card-title{
    text-align: left !important;
    padding:0px !important;
    font-size: 18px;
}

ion-list{
    background: transparent;
}

ion-item{
    --background: transparent;
    color:#737373;
}

.admin-item{
    background: rgb(106, 174, 214) !important;
    color: #fff !important;
}

.admin-label{
    color:#fff !important;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.start-button-footer{
    align-items: center;
}

@media only screen and (min-width: 993px){
    #expandable-info-card{
        display: none;
    }
    #slide-players-card{
        display: none;
    }
    #expandable-game-card{
        display: none;
    }
    .start-button-footer{
        display: none;
    }
}

@media only screen and (max-width: 992px){
    #normal-info-card{
        display: none;
    }
    #normal-players-card{
        display: none;
    }
    #normal-game-card{
        display: none;
    }
    .start-button{
        display: none;
    }
}