.auth-card {
    max-width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-inline: 30px;
    text-align: center;
    margin: auto;
    
    a{
      text-decoration: none;
    }
    ion-card-title{
        font-size:35px;
    }
  } 