.wrapper{
  margin:auto;
  max-width: 1300px;
  overflow:hidden;
  padding: 0 10px;
}

ion-toolbar{
  #logo-toolbar{
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    transform:scale(0.9);
  }
}

.super-container{
  display: flex;
  margin:auto;
  max-width: 900px;
}

.container{
  max-width: 900px;
  margin:auto;
  margin-top: 30px;
}

.form{
  width: 50%;
}

.subtitle{
  font-size: 14px;
  color: #737373 !important;
  margin-bottom: 0px;
}

.title{
  color:var(--ion-color-unicamgrey);
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

.input-row{
  display: flex;
  margin-top: 10px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
}

.icon-div{
  border-right: 1px solid var(--ion-color-medium);
  height:56px;
  width:56px;
  min-height:56px;
  min-width:56px;
  max-height:56px;
  max-width:56px;
  text-align: center;
  
  ion-icon{
    margin:15px;
    font-size: 25px;
    color: #737373 !important;
  }
}

.input-div{
  width: 100%;

  ion-input{
    font-size: 16px;
    padding: 5px 0px 5px 20px !important;
  }
}

.login-button{
  margin:none;
  height: 56px;
  margin-top: 30px;
}

@media only screen and (max-width:1020px) {
  .super-container{
    display: block;
    max-width: 500px;
  }
  .form{
    width: 100%;
  }
}