<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-button fill="clear" color="light" slot="start" (click)="backButton()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="aggiornaProfilo()" [formGroup]="dati">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title><strong>Dati profilo</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="name" name="username" formControlName="username" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="family-name" name="nome"  formControlName="nome" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Cognome</ion-label>
            <ion-input type="name" name="cognome"  formControlName="cognome" required></ion-input>
          </ion-item>
        </ion-list>
        <br>
        <br>
        <ion-button type="submit" color="primary" expand="block">SALVA MODIFICHE</ion-button>
      </ion-card-content>
    </ion-card>
  </form>

  <br>
  <br>

  <form (ngSubmit)="aggiornaPassword()" [formGroup]="passwords">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title><strong>Cambia password</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Password precedente</ion-label>
            <ion-input type="password" name="oldPassword" formControlName="oldPassword" required placeholder="Inserisci il nuovo username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nuova password</ion-label>
            <ion-input type="password" name="newPassword" formControlName="newPassword" required placeholder="Inserisci il tuo nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Conferma nuova password</ion-label>
            <ion-input type="password" name="passwordConfirmed" formControlName="passwordConfirmed" required placeholder="Inserisci il tuo nome"></ion-input>
          </ion-item>
        </ion-list>
        <br>
        <br>
        <ion-button type="submit" color="primary" expand="block">SALVA NUOVA PASSWORD</ion-button>
        

      </ion-card-content>
    </ion-card>
  </form>

</ion-content>