<ion-header>
  <ion-toolbar>
    <ion-title>Modifica utente</ion-title>

    <ion-button fill="clear" slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="modal">
    <ion-list-header>
      <h2><strong>Info</strong></h2>
    </ion-list-header>

    <form (ngSubmit)="editUser()" [formGroup]="data">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="username" name="username" formControlName="username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="name" name="nome" formControlName="nome" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cognome</ion-label>
        <ion-input type="name" name="cognome" formControlName="cognome" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tipologia</ion-label>
        <ion-select interface="popover" formControlName="tipo" value="this.tipo">
          <ion-select-option value="GIOCATORE">GIOCATORE</ion-select-option>
          <ion-select-option value="ADMIN">ADMIN</ion-select-option>
        </ion-select>
      </ion-item>

      <br>

      <ion-button type="submit" color="primary" expand="block">Salva Modifiche</ion-button>
    </form>

    <ion-list-header>
      <h2><strong>Modifica password</strong></h2>
    </ion-list-header>

    <form (ngSubmit)="changePassword()" [formGroup]="password">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" formControlName="password" required
          placeholder="Compresa tra 8 e 16 caratteri"></ion-input>
      </ion-item>

      <br>

      <ion-button type="submit" color="primary" expand="block">Cambia password</ion-button>

    </form>

  </ion-list>
</ion-content>