<ion-content color="primary">
  <ion-list>
    <ion-item button="true" lines="full" (click)="creaLobby()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Crea Lobby
    </ion-item>

    <ion-item button="true" lines="full" (click)="close()">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      Ricerca Lobby Pubbliche
    </ion-item>

    <ion-item button="true" lines="full" (click)="close()">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      Unisciti ad una Lobby Privata
    </ion-item>
  </ion-list>
</ion-content>