<ion-content>
  <ion-list>
    <ion-item button="true" lines="full" (click)="creaLobby()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Crea lobby
    </ion-item>

    <ion-item button="true" lines="full" (click)="cercaLobbyPubblica()">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      Cerca lobby pubbliche
    </ion-item>

    <ion-item button="true" lines="full" (click)="cercaLobbyPrivata()">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      Unisciti ad una lobby privata
    </ion-item>
  </ion-list>
</ion-content>