/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button{
    --box-shadow:none;
}

.contact-popover .popover-content{ 
    border-radius:0px!important;
     padding:0px!important;
     right: 0px !important;
     margin-right: 0px !important;
}

.menu-active-item{
    border-left: 8px solid var(--ion-color-unicamblue);
    --ion-text-color: var(--ion-color-unicamblue);

    ion-icon{
        --ion-text-color-rgb: var(--ion-color-unicamblue);
    }
}

.toast{
    --background:rgb(34, 64, 95) !important;
    color:#fff !important;
}

.modal{
    padding: 25px;
}

ion-modal.lobby-pubbliche {
    --width: 60%;
    --height: 80%;
    --border-radius: 0;
}

ion-modal.edit-user {
    --width: 35%;
    --height: 70%;
    --border-radius: 0;
}

ion-modal.fullscreen {
    --width: 100%;
    --height: 100%;
    --border-radius: 0;
}

ion-modal.die-roll-modal {
    --width: 100%;
    --height: 100%;
    --border-radius: 0;
}
ion-modal.crea-parola {
    --width: 30%;
    --height: 45%;
    --border-radius: 0;
}

.modal-wrapper{
    background: transparent !important;
}

/* Mobile/Small Tablet Styles */
@media only screen and (max-width: 1228px){
    ion-modal.lobby-pubbliche {
        --width: 100%;
        --height: 100%;
        --border-radius: 0;
    }
    ion-modal.edit-user {
        --width: 100%;
        --height: 100%;
        --border-radius: 0;
    }   
}

@media only screen and (max-height: 780px){
    ion-modal.lobby-pubbliche {
        --width: 100%;
        --height: 100%;
        --border-radius: 0;
    }
    ion-modal.edit-user {
        --width: 100%;
        --height: 100%;
        --border-radius: 0;
    }
}

.ion-color-unicamblue {
    --ion-color-base: var(--ion-color-unicamblue) !important;
    --ion-color-base-rgb: var(--ion-color-unicamblue-rgb) !important;
    --ion-color-contrast: var(--ion-color-unicamblue-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-unicamblue-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-unicamblue-shade) !important;
    --ion-color-tint: var(--ion-color-unicamblue-tint) !important;
}

.ion-color-unicamgrey {
    --ion-color-base: var(--ion-color-unicamgrey) !important;
    --ion-color-base-rgb: var(--ion-color-unicamgrey-rgb) !important;
    --ion-color-contrast: var(--ion-color-unicamgrey-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-unicamgrey-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-unicamgrey-shade) !important;
    --ion-color-tint: var(--ion-color-unicamgrey-tint) !important;
}

.ion-color-unicamred {
    --ion-color-base: var(--ion-color-unicamred) !important;
    --ion-color-base-rgb: var(--ion-color-unicamred-rgb) !important;
    --ion-color-contrast: var(--ion-color-unicamred-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-unicamred-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-unicamred-shade) !important;
    --ion-color-tint: var(--ion-color-unicamred-tint) !important;
}

.page-header {
    --background:var(--ion-color-unicamblue) !important;
    color:#fff;
    line-height:80px;
}

ion-split-pane{
    --side-max-width: 250px;
}

ion-icon{
    pointer-events: none;
}