.auth-card {
  top:100px;
  border-radius: 20px;
  max-width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 30px;
  text-align: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  
  a{
    text-decoration: none;
  }
  ion-card-title{
      font-size:35px;
  }

  ion-list{
    background-color: transparent;

    ion-item{
      --background: transparent;
      ion-label{
        background-color: transparent;
      }
      ion-input{
        background-color: transparent;
      }
    }
  }
}

ion-content{
  --background: url('../../assets/images/unicam-campus.jpg') no-repeat center center / cover;
}

@media only screen and (min-height: 591px) and (max-height: 700px){
  .auth-card {
    top:50px;
  }
}

@media only screen and (max-height: 590px){
  .auth-card {
    top:0px;
  }
}