ion-content{
    --background:#fff !important;
}

.container{
    margin:auto;
    padding: 10px;
    max-width: 800px;
}

.video-container{
    background-color: var(--ion-color-medium);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.image-container{
    text-align: center;
    margin-top: 30px;

    img{
        width: 100%;
        max-width: 220px;
        height: auto;
    }
}

.answer-container{
    margin-top: 30px;
}

.answer{
    margin-top: 5px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    border: 1px solid var(--ion-color-medium);
}

.answer:hover{
    background-color: rgb(221, 221, 221);
}

.answer:active{
    background-color: rgb(180, 180, 180);
}

.disabled-answer{
    pointer-events: none;
    opacity: 0.5 !important;
}

.correct-answer{
    background-color: var(--ion-color-success) !important;
    p{
        color: var(--ion-color-light) !important;
    }
}

.wrong-answer{
    background-color: var(--ion-color-unicamred) !important;
    p{
        color: var(--ion-color-light) !important;
    }
}

.icon{
    float:right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 50px;

    ion-icon{
        font-size: 30px;
        color: var(--ion-color-success);
    }
}

h1, h2, p {
    color: var(--ion-color-unicamgrey);
}

h1{
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}