<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-label>Tempo rimanente: {{timer.getTimeLeftToPrint()}}</ion-label>
  </ion-toolbar>

  <app-progress-bar-timer [timer]="timer" color="danger" reversed="true"></app-progress-bar-timer>
</ion-header>

<ion-content>
  <div class="container">
    <p style="font-size: 14px; margin-bottom: 0px;">Rispondi correttamente alla seguente domanda</p>
    <h1>{{question.question}}</h1>


    <div *ngIf="question.videoUrl && question.videoUrl.length > 0" style="margin-top: 30px;">
      <p style="font-size: 14px;">Visiona il seguente video prima di rispondere</p>
      <div style="max-width: 600px; margin:auto;">
        <div class="video-container">
          <iframe [src]="question.videoUrl | safe" title="video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div *ngIf="question.imgUrl && question.imgUrl.length > 0" class="image-container">
      <p style="font-size: 14px; text-align: left;">Osserva la seguente immagine prima di rispondere</p>
      <img src="{{ question.imgUrl }}">
    </div>

    <div class="answer-container">
      <p style="font-size: 20px; font-weight: bold;">Seleziona la risposta corretta</p>
      <div *ngFor="let answer of shuffledAnswers; let i = index;" id="answer{{i}}" class="answer" tappable
        (click)="selectAnswer(answer, i)" [class.disabled-answer]="selectedAnswer">
        <p>{{answer}}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="selectedAnswer">
  <ion-toolbar color="unicamred">
    <ion-button fill="clear" expand="block" color="light" (click)="closeModal()">
      Continua
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>